body {
    background-color: rgb(0, 0, 0);
  }
 
  p {
    color: rgb(253, 253, 253);
    font-size: 100px;
    text-align: center;
    font-family: 'Odibee Sans', cursive;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
  }

  .button {
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    padding: 0px;
    font-size: 50px;
    border-style: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Odibee Sans', cursive;
  }

  div, iframe {
    width: 1080px;
    height: 1080px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    position: center;
    display:center;
    border-style: none;
    margin-bottom: 3%;
  }


iframe {
    display: center;
    border-style:none;
    margin-top: 2%;
}

::-webkit-scrollbar {
    width: 2em;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.789);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 89, 0, 0.789);
  border-radius: 10px;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
  animation: fadein 2s;
}

.fade-out {
  opacity: 1;
  transition: opacity 250ms ease-in;
  animation: fadeout 2s;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}






